.hero-image img {
  width: 100%;
  height: auto;
}

.hero-image figcaption {
  text-align: right;
  margin-right: 22px;
  font-size: 12px;
}

.content .donation-tracker { 
  margin: var(--page-padding-y) calc(-1 * var(--page-padding-y));
  width: calc(100% + 2 * var(--page-padding-y));
}

.requisites {
  margin-top: var(--page-padding-x);
  margin-bottom: 16px;
}

.main-page .requisite {
  margin-top: 32px;
}

.requisite.monobank {
  margin-top: 28px;
}

.info {
  margin-top: 50px;
}

.icons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}

.icon-button {
  padding: 12px;
}

.footer-title {
  font-size: 24px;
  text-align: center;
  line-height: 1.15;
  margin-bottom: 50px;
}

.copyright {
  text-align: center;
  font-size: 12px;
  margin-bottom: 16px;
}

.trezub {
  margin: 0 auto 100px;
  /* Describe why block */
  display: block;
}