:root {
  --page-padding-y: 22px;
  --page-padding-x: 36px;

  --color-blue: #61AFEF;
  --color-yellow: #F5E48B;
  --color-light-gray: #DCDFE4;
  --color-dark-gray: #66757F;
  --color-background: #FEFEFE;
  --color-violet: #9747FF;
}